---
import Listing, { assignRecordToGroup, type DatasetRecordGroups } from "@components/Listing.astro";
import Main from "@layouts/Main.astro";
import { PressListingGroqQuery } from "@lib/groq";
import type { SanityImageMetadataObject } from "@lib/types.astro";
import type { ProjectProps } from "@projects/[slug].astro";
import type { PublicationProps } from "@publications/[slug].astro";
import sanityClient from "@root/sanity";
import type { SanityImageObject } from "@sanity/image-url/lib/types/types";
import type { TypedObject } from "astro-portabletext/types";

export type NewsProps = {
	type: "news";
	slug: { current: string; };
	title: string;
	date: string;
	body?: TypedObject[];
	image?: SanityImageObject & SanityImageMetadataObject;
	relatedProjectsAndPublications?: (ProjectProps | PublicationProps)[];
};

export type PressProps = {
	type: "press";
	url: string;
	title: string;
	publisher: string;
	date: string;
	description?: TypedObject[] | string;
	image?: SanityImageObject & SanityImageMetadataObject;
	relatedProjectsAndPublications?: (ProjectProps | PublicationProps)[];
};

export type NewsOrPressItemProps = NewsProps | PressProps;

export type PressListingProps = {
	id: "pressListing";
	type: "listing";
	slug: { current: string; };
	title: string;
	allNewsAndPressItems: NewsOrPressItemProps[];
};

export async function getStaticPaths() {
	const pressListing: PressListingProps = await sanityClient.fetch(PressListingGroqQuery);
	return [{
		params: {
			press: pressListing.slug?.current,
		},
		props: {
			...pressListing,
		},
	}];
};

const listing = Astro.props;

const allNewsAndPressItems: DatasetRecordGroups = {};

listing.allNewsAndPressItems.forEach((newsOrPressItem) => {
	assignRecordToGroup(newsOrPressItem, {
		group: allNewsAndPressItems,
		key: "all",
		marker: "All",
		description: "All news and press items",
		method: "period",
	});
});
---

<Main title={listing.title}>
	<h1 class="display-none">
		{listing.title}
	</h1>
	<Listing
		source={allNewsAndPressItems}
		originalSet={listing.allNewsAndPressItems}
		keys={Object.keys(allNewsAndPressItems)}
		densities={["1"]}
		background="polka-dot"
	/>
</Main>