---
import Main from "@layouts/Main.astro";
import { PublicationsListingGroqQuery } from "@lib/groq";
import sanityClient from "@root/sanity";
import type { PublicationProps } from "@publications/[slug].astro";
import Listing, { assignRecordToGroup, type DatasetRecordGroups } from "@components/Listing.astro";

export type PublicationsListingProps = {
	id: "publicationsListing";
	type: "listing";
	slug: { current: string; };
	title: string;
	allPublications: PublicationProps[];
};

export async function getStaticPaths() {
	const publicationsListing: PublicationsListingProps = await sanityClient.fetch(PublicationsListingGroqQuery);
	return [{
		params: {
			publications: publicationsListing?.slug.current,
		},
		props: {
			...publicationsListing,
		},
	}];
};

const listing = Astro.props;

const allPublications: DatasetRecordGroups = {};

listing.allPublications.forEach((publication) => {
	assignRecordToGroup(publication, {
		group: allPublications,
		key: "all",
		marker: "All",
		description: "All publications",
		method: "period",
	});
});
---

<Main title={listing.title}>
	<h1 class="display-none">
		{listing.title}
	</h1>
	<div class="coming-soon">
		<p>
			Coming soon
		</p>
	</div>
	<!-- <Listing
		source={allPublications}
		originalSet={listing.allPublications}
		keys={Object.keys(allPublications)}
		densities={["2"]}
	/> -->
</Main>

<style lang="scss">
	.coming-soon {
		flex: 1;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding-block: calc(var(--spacer-400) * 1);
	}
</style>