---
import { SiteSettingsGroqQuery } from "@lib/groq";
import "@styles/reset.scss";
import "@styles/global.scss";
import sanityClient from "@root/sanity";
import type { ListingProps, RecordProps, StoryProps } from "@lib/types.astro";
import NavigationMenu, { type HeaderProps } from "@components/NavigationMenu.astro";

export type NavigationItemProps = Exclude<RecordProps, StoryProps> | ListingProps;

export type SiteSettingsProps = {
	title: string;
	description: string;
	navigationItems: NavigationItemProps[];
	image: {
		url: string;
		transformationQuery?: string;
	};
	keywords: string[]; 
	analytics?: string;
};

const settings: SiteSettingsProps = await sanityClient.fetch(SiteSettingsGroqQuery);

type Props = {
	title: string;
	description?: string;
	image?: {
		url: string;
		transformationQuery?: string;
	};
	headerMode?: HeaderProps;
	clearHeaderColor?: string;
};

const {
	title,
	description,
	image,
	headerMode,
	clearHeaderColor,
} = Astro.props;

const pageTitle = [Astro.url.pathname === "/" ? null : title, settings.title]?.filter(Boolean)?.join(" • ");
const pageAuthor = "Rana Beiruti";
const pageDescription = description || settings.description;
const pageKeywords = settings.keywords?.join(", ");
const pageThemeColor = "#ffffff";
const pageCanonicalUrl = Astro.url.href;
const pageImage = image && image.url ? `${image.url}${image.transformationQuery || "?w=1200&h=630&fit=crop&auto=format"}` : [settings.image.url, settings.image.transformationQuery]?.filter(Boolean)?.join("");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{pageTitle}</title>
		<meta name="author" content={pageAuthor} />
		<meta name="description" content={pageDescription} />
		<meta name="keywords" content={pageKeywords} />
		<meta name="theme-color" content={pageThemeColor} />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="mask-icon" href="/mask-icon.svg" color="#000000" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover" />
		<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<link rel="canonical" href={pageCanonicalUrl} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content={settings.title} />
		<meta property="og:url" content={pageCanonicalUrl} />
		<meta property="og:title" content={Astro.url.pathname === "/" ? settings.title : pageTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:image" content={pageImage} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={pageCanonicalUrl} />
		<meta name="twitter:title" content={Astro.url.pathname === "/" ? settings.title : pageTitle} />
		<meta name="twitter:description" content={pageDescription} />
		<meta name="twitter:image" content={pageImage} />
		<Fragment set:html={settings.analytics} />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<NavigationMenu title={settings.title} items={settings.navigationItems} mode={headerMode} color={headerMode === "clear" && clearHeaderColor} />
		<main>
			<slot />
		</main>
		<footer></footer>
	</body>
</html>

<style lang="scss" is:global>
	body {
		display: flex;
		flex-flow: column nowrap;
		min-height: 100vh;
		min-height: 100dvh;
		--body-inline-spacing: calc(var(--spacer-400) + env(safe-area-inset-left, 0px));
	}
	main {
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		margin-inline: var(--body-inline-spacing);
	}
</style>